.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 0 41px 0;
  width: 880px;
  min-width: 320px;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 900px) {
  .header {
    flex-direction: column;
    width: 100%;
    padding: 0 0 32px 0;
  }
}
